#about-us video {
    width: 80%;
}


/* 0px,480*/


/* 481px,7960*/


/* 769px,768*/

@media all and (max-width: 960px) {
    #about-us {
        width: 100%;
        padding: 0;
    }
    #about-us .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-us .col-6 {
        width: 90%;
        text-align: center;
    }
}
