#team {
    font-size: 1em;
}

#team article {
    font-size: 0.9em;
    height: 70vh;
}

#team article img {
    height: 70vh;
    object-fit: cover;
    width: 100%;
    object-position: 80% 50%;
    transition: transform 0.3s;
    position: absolute;
}

#team article:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

#team article:hover img {
    transform: scale(1.3) translateY(30px);
}

#team article:hover:after {
    opacity: 1;
}

#team article {
    position: relative;
    overflow: hidden;
}


/*#team article:nth-child(5) img {*/

#team #hulk img {
    object-position: 40% 50%;
}

#team article .caption {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
    opacity: 0;
    will-change: opacity, transform;
    z-index: 5;
}

#team article:hover .caption {
    animation: showUp 1s forwards;
}

#team article .caption p {
    line-height: 1.5em;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
